<!DOCTYPE html>
<html>
    <head>
        <title>Remove Car</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}" />
    </head>
    <body class="page">
        <main class="main">
            <header class="header">
                <h1>WELCOME TO ITEM CATALOG</h1>
                <a href="{{url_for('gdisconnect')}}"><button class="btn">Log Out</button></a>
            </header>
            <div class="content">
                <section class="category">
                    <span class="heading">Manufacturer</span>
                    <ul>{% for cat in manufacturers %}
                        <li><a href="{{url_for('viewCar',manufactured = cat.manufacturer)}}" class="cat-list">{{cat.manufacturer}}</a></li>
                        {% endfor %}
                    </ul>

                </section>
                <section class="items">
                    <span class="heading">Remove {{carD.name}} (manufactured by {{carD.manufacturer}})</span>
                    <p class="details">Are you sure you want to remove the car?</p><br/><br/>
                    <div class="links-span">
                        <form class="links" method="POST" action="{{url_for('deletecar', manufacturer = carD.manufacturer, car = carD.name)}}">
                            <input type="submit" value="Remove" class="form-btn" />
                        </form>
                    </div>
                </section>
            </div>
            <footer class="foot">
                <span class="heading">Developed by Prateek Shrivastava</span>
            </footer>
        </main>
    </body>
</html>